.container{
    display: flex;              
    justify-content: center;    
    align-items: center;        
    height: 100vh;              
    background-color: #222;    
    gap: 20px;                  
}

/* boxes */
.box{
    height: 100px;
    width: 100px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;         
}